:root {
  --bg-main: #353638;
  --bg-sidebar: black;
  --bg-card: #ffffff;
  --text-dark: #111827;
  --accent: #facc15;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg-main);
}

i {
  color: white;
}


.material-icons {
  font-size: 20px;
  line-height: 1;
}
/* Dashboard Container */

.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

/* Sidebar & Navigation */


.sidebar {
  grid-row: 1 / -1;
  background: var(--bg-sidebar);
  color: white;
  padding: 1.5rem;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;       
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-secondary {
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
}

/* Header */

.header {
  background: white;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.search input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.welcome {
  display: flex;
  gap: 1rem;
  align-items: center;
}

