:root {
  --bg-main: #353638;
  --bg-sidebar: black;
  --bg-card: #ffffff;
  --text-dark: #111827;
  --accent: #facc15;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg-main);
}

i {
  color: white;
}

.material-icons {
  font-size: 20px;
  line-height: 1;
}
/* Dashboard Container */

.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

/* Sidebar & Navigation */

.sidebar {
  grid-row: 1 / -1;
  background: var(--bg-sidebar);
  color: white;
  padding: 1.5rem;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  list-style: none;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 16px;
  width: 100%;

  text-decoration: none;
  color: inherit;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  background: var(--accent);
  color: var(--text-dark);
  border-radius: 8px;
}

/* Header */

.header {
  background: white;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.search input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user-area {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.user-text {
  display: flex;
  flex-direction: column;
}

.welcome {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.actions {
  gap: 1rem;
  display: flex;
}

.actions button {
  background: var(--bg-sidebar);
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 999px;
  cursor: pointer;
}

/* Main Content */

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.projects h3,
.widgets h3 {
  margin-bottom: 1rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  background: var(--bg-card);
  padding: 1.5rem;
  border-left: 6px solid var(--accent);
  border-radius: 6px;
}

.card-actions {
  margin-top: 1rem;
  text-align: right;
}

.widgets section {
  background: var(--bg-card);
  padding: 1.5rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}
